@if (open()) {
  <div class="su-modal-overlay" role="presentation" (click)="onOverlay($event)">
    <div
      class="su-modal-panel"
      role="dialog"
      aria-modal="true"
      tabindex="-1"
      [attr.aria-labelledby]="title() ? titleId : null"
    >
      <div class="su-modal-head">
        <h2 class="su-modal-title" [id]="titleId">{{ title() }}</h2>
        @if (closable()) {
          <button
            type="button"
            class="su-x"
            [attr.aria-label]="t().common.close"
            (click)="closed.emit()"
          >
            <i class="ph ph-x" aria-hidden="true"></i>
          </button>
        }
      </div>
      <div class="su-modal-body"><ng-content /></div>
      <div class="su-modal-foot"><ng-content select="[modal-footer]" /></div>
    </div>
  </div>
}
