:host {
  display: block;
}
.next {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  border-color: var(--color-primary);
  > .ph {
    font-size: 24px;
    color: var(--color-primary);
  }
  .grow {
    min-width: 200px;
  }
}
